/*Inicijalni reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background:#f9fbe7;
  max-width: 800px;
  margin: auto;
  height: 100vh;
  text-align: center;
  font-size: 1rem;
}


header {
  padding: 0.5rem;
}

header p {
 margin-top: 0.5rem;
}

.vjesala {
  display: flex;
  align-items: center;
  text-align: center;
  background: #e6ee9c;

  /*Detalji linjie*/
  stroke:#37474f;
  stroke-width: 2px;
  fill: #263238;
}

.vjesala .vjesala-slika {
  width: 50%;
  opacity: 0.8;
}

.vjesala .vjesala-kriva-slova {
  text-align: center;
  padding: 1rem;
  margin: auto;
  width: 50%;
  background: #cddc39;
}

.vjesala .vjesala-kriva-slova .obavijest{
  padding: 0.4rem;
  font-size: 1.2rem;
  background: #ffab91;
  visibility: hidden;
}


.trazenaRijec {
  padding: 0.5rem;
}

.trazenaRijec h2{
  margin: 0.2rem 0;
}

.trazenaRijec-slova {
  padding: 0.5rem;
}
.trazenaRijec-slova span{
  margin: 0.2rem;
  font-size: 1.3rem;
  background: #e0e0e0;
  padding: 0.4rem;
}

.pogodeno-slovo {
  border-bottom: 2px solid #1b5e20;
}

.ne-pogodeno-slovo {
  border-bottom: 2px solid orangered;
}

.poruke {
  margin: auto;
  padding: 1rem;
  font-size: 1.2rem;
  width: 300px;
  height: 150px;
  background: #c5e1a5;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  display: none;
}

button {
  width: 120px;
  margin-top: 1rem;
  background:#78909c;
  color: #FFF;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
}

.tijelo {
  display: none;
}

.prikazi {
  display: block;
}